/* SITE-USE */
.site-use{
  background-image: url(../../img/use-circle.svg),  url(../../img/use-circle.svg),  url(../../img/use-circle.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - -795px)10px, calc(50% - 790px)608px, calc(50% - -795px)1210px;
  padding-left: 165px;
  padding-right: 165px;
}

.site-use__easy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
}

.site-use__easy-content{
  margin-right: 220px;
}

.site-use__easy-title{
  font-family: Space Mono;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
  margin-bottom: 24px;
}

.site-use__easy-info{
  font-family: Lexend Deca;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin: 0;
  margin-bottom: 40px;
}

.site-use__easy-img{
  width: 100%;
  height: 100%;
  max-width: 445px;
  max-height: 445px;
}

.site-use__coming{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 160px;
}

.site-use__coming-title{
  font-family: Space Mono;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
  margin-bottom: 24px;
}

.site-use__coming-info{
  font-family: Lexend Deca;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin: 0;
  margin-bottom: 40px;
}

.site-use__coming-img{
  width: 100%;
  height: 100%;
  max-width: 445px;
  max-height: 445px;
  border-radius: 50%;
  margin-right: 220px;
}

.site-use__zero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.site-use__zero-content{
  margin-right: 220px;
}

.site-use__zero-title{
  font-family: Space Mono;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
  margin-bottom: 24px;
}

.site-use__zero-info{
  font-family: Lexend Deca;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin: 0;
  margin-bottom: 24px;
}

.site-use__zero-img{
  width: 100%;
  height: 100%;
  max-width: 445px;
  max-height: 445px;
  border-radius: 50%;
}



/* MEDIA */


@include breakpoint-down (1200px) {

  .site-use{
    padding-left: 120px;
    padding-right: 120px;
    background-position: calc(50% - -745px)10px, calc(50% - 745px)608px, calc(50% - -745px)1210px;
  }

  .site-use__easy-content{
    margin-right: 180px;
  }

  .site-use__coming-img{
    margin-right: 180px;
  }

  .site-use__zero-content{
    margin-right: 180px;
  }
}

@include breakpoint-down (1100px) {

  .site-use{
    padding-left: 80px;
    padding-right: 80px;
    background-position: calc(50% - -725px)10px, calc(50% - 725px)608px, calc(50% - -725px)1210px;
  }

  .site-use__easy-content{
    margin-right: 100px;
  }

  .site-use__coming-img{
    margin-right: 100px;
  }

  .site-use__zero-content{
    margin-right: 100px;
  }
}

@include breakpoint-down (1000px) {

  .site-use{
    padding-left: 60px;
    padding-right: 60px;
    background-position: calc(50% - -685px)10px, calc(50% - 685px)608px, calc(50% - -685px)1210px;
  }

  .site-use__easy-content{
    margin-right: 70px;
  }

  .site-use__coming-img{
    margin-right: 70px;
  }

  .site-use__zero-content{
    margin-right: 70px;
  }
}

@include breakpoint-down (900px) {

  .site-use{
    padding-left: 90px;
    padding-right: 90px;
  }

  .site-use__easy{
    flex-direction: column-reverse;
    text-align: center;
  }

  .site-use__easy-content{
    margin-right: 0;
  }

  .site-use__easy-img{
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 56px;
  }

  .site-use__coming{
    flex-direction: column-reverse;
    text-align: center;
  }

  .site-use__coming-img{
    margin-right: 0;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 56px;
  }

  .site-use__zero{
    flex-direction: column-reverse;
    text-align: center;
  }

  .site-use__zero-content{
    margin-right: 0;
  }

  .site-use__zero-img{
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 56px;
  }
}

@include breakpoint-down (500px) {

  .site-use{
    padding-left: 50px;
    padding-right: 50px;
  }

  .site-use__easy-title{
    font-size: 32px;
    line-height: 32px;
  }

  .site-use__coming-title{
    font-size: 32px;
    line-height: 32px;
  }

  .site-use__zero-title{
    font-size: 32px;
    line-height: 32px;
  }
}

@include breakpoint-down (400px) {

  .site-use{
    padding-left: 32px;
    padding-right: 32px;
  }

  .site-use__easy-img{
    padding-left: 0;
    padding-right: 0;
  }

  .site-use__coming-img{
    padding-left: 0;
    padding-right: 0;
  }

  .site-use__zero-img{
    padding-left: 0;
    padding-right: 0;
  }
}
