/* SITE-HERO */
.site-hero{
  background-image: url(../../img/desktop-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50% - 10px);
}

.site-hero__wrapper{
  padding-top: 153px;
  padding-bottom: 152px;
  padding-left: 65px;
  padding-right: 165px;
}

.site-hero__title{
  font-family: Space Mono;
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 40px;
  max-width: 500px;
  padding-left: 100px;
}

.site-hero__content{
  padding-left: 160px;
  padding-bottom: 32px;
}

.site-hero__wrapper{
  background-image: url(../../img/desktop-right-line.svg), url(../../img/desktop-left-line.svg), url(../../img/site-hero-circle.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - -203px) 393px,calc(50% - 573px) 394px,calc(50% - -610px) 470px;
}

.site-hero__info{
  font-family: Lexend Deca;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 40px;
  max-width: 405px;
}

/* MEDIA */

@include breakpoint-down (1106px) {

  .site-hero__wrapper{
    background-position: calc(50% - -320px)337px, calc(50% - 446px)336px, calc(50% - -610px)510px;
    padding-left: 30px;
  }
}

@include breakpoint-down (1000px) {

  .site-hero__wrapper{
    background-image: url(../../img/desktop-right-line.svg), url(../../img/site-hero-circle.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 352px)475px, calc(50% - -408px)550px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 130px;
    padding-bottom: 250px;
    text-align: center;
  }

  .site-hero__title{
    padding-left: 0;
    max-width: none;
  }

  .site-hero__content{
    padding-left: 0;
  }

  .site-hero__info{
    max-width: none;
  }
}

@include breakpoint-down (900px) {

  .site-hero__wrapper{
    background-position: calc(50% - 352px)475px, calc(50% - -408px)550px;
  }
}

@include breakpoint-down (800px) {

  .site-hero__wrapper{
    background-position: calc(50% - 352px)475px, calc(50% - -312px)555px;
  }
}

@include breakpoint-down (768px) {

  .site-hero{
    background-position: right center;
  }

  .site-hero__wrapper{
    padding-bottom: 217px;
    background-position: calc(50% - 271px)475px, calc(50% - -295px)555px;
  }
}

@include breakpoint-down (700px) {

  .site-hero__wrapper{
    background-position: calc(50% - 271px)475px, calc(50% - -256px)555px;
  }
}

@include breakpoint-down (600px) {

  .site-hero__wrapper{
    background-image: url(../../img/desktop-right-line.svg);
    background-position: calc(50% - 271px)475px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .site-hero__title{
    font-size: 40px;
    line-height: 40px;
  }
}

@include breakpoint-down (561px) {

  .site-hero__wrapper{
    background-position: calc(50% - 270px)470px;
  }
}

@include breakpoint-down (500px) {

  .site-hero__wrapper{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 140px;
    padding-bottom: 200px;
  }
}

@include breakpoint-down (400px) {

  .site-hero__wrapper{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 115px;
    padding-bottom: 180px;
    background-position: calc(50% - 254px)430px;
  }
}


