/* SOCIAL-LINK */
.social-list{
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  @include list-unstyled;
}

.social-item:not(:last-child){
  margin-right: 24px;
}

.social-link__facebook{
  fill: #FCB72B;

  &:hover{
    fill: #fff;
  }
}